/* CSS RESET */


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Rubik", sans-serif;
}

*:focus {
    outline: none;
}

button {
    border: none;
    background-color: transparent;
    cursor: pointer;
}

ul, li {
    list-style: none;
}

a {
    text-decoration: none;
    color: unset;
}

select {
    /* A reset of styles, including removing the default dropdown arrow */
    appearance: none;
    background-color: transparent;
    border: none;
    padding: 0;
    margin: 0;
    width: 100%;
    font-family: inherit;
    font-size: inherit;
    cursor: inherit;
    line-height: inherit;

    /* Stack above custom arrow */
    z-index: 1;

    /* Remove focus outline, will add on alternate element */
    outline: none;
}

/*  */

html, body {
    height: 100%;
}

.store-bg {
    background-color: #eef1ef
}

.cart-bg {
    background-image: linear-gradient(#33cc66 45vh, #f7f9f9 45vh);
    background-attachment: fixed;
    margin-top: 80px;
}

.checkout-bg {
    background-image: linear-gradient(#33cc66 45vh, #f7f9f9 45vh);
    background-attachment: fixed;
    margin-top: 80px;
}

.store-items-wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 22px;
    grid-row-gap: 22px;
}

.item-preview {
    width: 100%;
    height: 100px;
    display: flex;
    padding: 18px 8px 18px 10px;
    overflow: visible;
    position: relative;
    justify-content: space-between;
    background-color: #fff;
    border-bottom: 1px solid #e9eded;
}

.item-preview > .thumbnail-container > .item-thumbnail {
    max-width: 70px;
    max-height: 70px;
    margin-bottom: 0;
}

.preview-desc {
    width: 94px;
}

.cart-preview-items-count {
    margin-right: -22px;
    margin-left: 15px;
}

.cart-preview {
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
    min-width: 320px;
    height: 530px;
    background-color: #fff;
    position: sticky;
    top: 160px;
    bottom: 0px;
    margin-right: 22px;
}

.cart-items-preview-wrapper {
    height: 330px;
    bottom: 0px;
    overflow-y: auto;
}

.cart-preview-header {
    height: 70px;
    background-color: #005350;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.cart-preview-subheader {
    height: 32px;
    background-color: #f7f9fb;
}

.cart-preview-header > .icon-basket {
    width: 37px;
    height: 32px;
}

.proceed-to-checkout-btn {
    width: 85px;
    height: 46px;
    background-color: #3c6;
    border-radius: 6px;
    padding: 5px 15px 7px 16px;
}

.proceed-to-checkout-btn.btn-disabled {
    background-color: #005350;
    opacity: 40%;
    background-color: rgba(255, 255, 255, 0.2);
}

.categories-wrapper {
    z-index: 10;
    width: 100%;
    height: 60px;
    background-color: #fff;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.06);
    position: sticky;
    top: 80px;
}

.category {
    padding: 19px 10px;
    cursor: pointer;
}

.category:hover {
    color: #33cc66;
}

.category .show-more {
    width: 150px;
    margin: 5px 0;
    color: #333333;
    z-index: 10;
}

.category-show-more:hover {
    margin-bottom: 0;
}

.categories-show-more {
    right: -15px;
    margin-top: 15px;
    background-color: #ffffff;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
    z-index: 10;
}

.dropdown-menu {
    margin-right: -14px;
    width: 170px;
    padding: 10px 0;
    color: #333333;
    background-color: #ffffff;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
    border-radius: 6px;
    z-index: 10;
}

.dropdown-menu-sm {
    color: #333333;
    font-size: 14px;
    min-height: auto;
    padding: 10px 0;
    background-color: #ffffff;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
    border-radius: 6px;
    z-index: 10;
    cursor: pointer;
}

.dropdown-menu-sm .dropdown-item {
    white-space: nowrap;
    width: 100%;
    padding: 6px 13px;
}

.dropdown-item {
    padding: 10px 6px;
}

.dropdown-item:hover {
    background-color: #d0d6d6;
}

.sort-items {
    width: 170px;
    height: 30px;
    border-radius: 15px;
    border: solid 1px #c6cbcb;
    font-size: 14px;
    color: #999;
    padding: 6px 14.3px 6px 12px;
}

.sort-items.dropdown-active {
    border: solid 1px #33cc66;
    background-color: #fff;
}

.sort-items.dropdown-active > .icon-arrow-down {
    transform: rotate(180deg);
    transition: transform 0.5s;
}

.text-title {
    font-family: "Heebo", sans-serif;
    line-height: 34px;
    font-weight: 700;
    font-size: xx-large !important;
}

.navbar-minimized {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 5;
}

.container {
    max-width: 1200px;
}

.cart-bg > .container {
    min-height: 90vh;
}

.back-btn {
    display: none;
}

.logo-img {
    object-fit: cover;
}

.navbar-maximized {
    position: relative;
    background-image: url("assets/img/cover.jpg");
    object-fit: cover;
    height: 300px;
    z-index: 10;
}

.mobile-footer {
    width: 100%;
    height: 176px;
    background-color: #f7f9fb;
    box-shadow: 0 -10px 10px rgba(0, 0, 0, 0.1);
}

.cart-preview-footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    padding: 16px 0 12px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    background-color: #f7f9fb;
}

.cart-preview-footer button {
    border-radius: 6px;
    background-image: linear-gradient(to right, #2eb75b 35%, #33cc66 35%);
    display: flex;
    align-items: center;
    font-size: 18px;
}

.cart-preview-footer button.btn-disabled {
    opacity: 0.4;
}

.order-summary * > button.btn-disabled {
    opacity: 0.4;
}

.user-profile-dropdown {
    background: transparent;
    color: #fff;
    border: none;
}

.order-comment {
    resize: none;
    width: 100%;
    background-color: #fff;
    height: 200px;
    border: none;
    padding: 10px 15px;
}


#submit-cart-btn {
    min-height: 92px;
    background-image: linear-gradient(to right, #2eb75b 35%, #33cc66 35%);
    font-weight: 700;
    display: flex;
    align-items: center;
}

#submit-cart-btn > div {
    font-size: x-large;
    color: white;
    font-weight: 500;
}

.total-sum {
    display: inline;
    width: 35%;
}

.checkout-text {
    display: inline;
    width: 65%;
}

/* Cart Widget */

.cart-widget-wrapper {
    display: flex;
}

.cart-widget {
    margin-top: 10px;
    width: 100%;
    height: 100%;
    background-color: #fff;
}

.store-widget {
    width: 100%;
}

.cart-item {
    position: relative;
    height: 180px;
    font-weight: 400;
    padding-right: 10px;
    background-color: transparent;
    border-bottom: 1px solid #e9eded;
}

.item-price {
    font-weight: 500;
    font-size: x-large;
    font-family: "Heebo", sans-serif;
}

.text-muted {
    color: #9e9e9e;
    font-weight: 400;
    font-size: large;
    text-decoration: line-through;
}

.remove-item-btn {
    bottom: 50%;
    right: 10px;
}


.select-unit {
    height: 42px;
    min-width: 130px;
    color: #999999;
    cursor: pointer;
    padding: 0 .2rem;
    text-overflow: ellipsis;
}

.select-unit.selected {
    background-color: #e9eded;
}

.select-arrow {
    position: absolute;
    top: 24px;
    right: 34vw;
}

.knife-icon {
    margin-top: 1.5rem;
    margin-right: 10px;
}

.knife-icon ~ .select-unit {
    padding-right: 2em;
}

.select-warning {
    margin-top: -18px;
}

.items-count {
    position: absolute;
    color: #000;
    margin-bottom: -8px;
    margin-right: 16px;
    font-weight: 500;
    font-size: 12px;
}

.item-thumbnail {
    width: 10rem;
    object-fit: contain;
}

.thumbnail-container button {
    display: none;
}

.thumbnail-container:hover button {
    display: block;
}

.cart-item * > .item-thumbnail {
    margin-top: 40px;
}

.store-item * > .item-thumbnail {
    max-width: unset;
}

.discount-badge-v ~ .item-tag-wrapper {
    top: 10px;
}

.featured-items-container {
    display: flex;
    width: 100%;
    overflow-x: auto;
    padding-top: 15px;
    white-space: nowrap;
}

.item-decrement {
    cursor: pointer;
}

.item-increment {
    cursor: pointer;
}


.featured-item {
    position: relative;
    min-width: 400px;
    height: 600px;
    background-color: #fff;
    margin: 0 8px 40px 8px;
    padding: 15px 10px;
    white-space: normal;
    overflow: visible;
}

.store-item {
    position: relative;
    min-width: 400px;
    height: 600px;
    background-color: #fff;
    padding: 15px 10px;
    white-space: normal;
    overflow: visible;
}

.toggle-unit-container {
    background-color: #e9eded;
    color: black;
    display: flex;
    height: 26px;
    border-radius: 15px;
    margin-top: 20px;
    margin-bottom: -20px;
}

.toggle-unit {
    width: auto;
    padding: 0 .7rem;
    height: 26px;
    cursor: pointer;
    border-radius: 15px;
}

.toggle-unit.selected {
    color: white;
    background-color: #005350;
    transition: color 0.5s, background-color 0.5s;
}

.btn-green {
    width: 250px;
    height: 60px;
    background-color: #33cc66;
    cursor: pointer;
}

.item-tag-wrapper {
    position: absolute;
    top: 10px;
    right: 10px;
    margin-left: auto;
}

.item-tag {
    background-color: #f7f9fb;
    padding: 5px 10px;
    margin: 5px 0;
    cursor: pointer;
    font-size: 10px;
    color: #005350;
}

/* Ribbon & Badge */
.discount-ribbon {
    position: relative;
    background-color: #005350;
    height: 64px;
    overflow: visible;
    width: 106%;
    right: -3%;
    top: -14rem;
}

.discount-ribbon-tip-right {
    position: absolute;
    top: 64px;
    right: 0;
    height: 15px;
    width: 15px;
    background-color: #242525;
    clip-path: polygon(0 0, 100% 100%, 0 100%);
    transform: rotate(90deg)
}

.discount-ribbon-tip-left {
    position: absolute;
    top: 64px;
    left: 0;
    height: 15px;
    width: 15px;
    background-color: #242525;
    clip-path: polygon(0 0, 100% 100%, 0 100%);
    transform: rotate(180deg)
}

.discount-badge-h {
    position: absolute;
    top: 15px;
    right: -15px;
    height: 36px;
    width: 107px;
    background-color: #005350;
    padding-right: 5px;
}

.discount-badge-h-side {
    position: relative;
    margin-right: auto;
    height: 36px;
    width: 18px;
    background-color: white;
    clip-path: polygon(0 0, 50% 50%, 0 100%);
}

.discount-badge-h-tip {
    position: absolute;
    top: 36px;
    right: 0;
    height: 15px;
    width: 15px;
    background-color: #242525;
    clip-path: polygon(0 0, 100% 100%, 0 100%);
    transform: rotate(90deg)
}

.discount-badge-v {
    position: absolute;
    top: -15px;
    left: 20px;
    margin-right: auto;
    width: 36px;
    background-color: #005350;
    height: 56px;
}

.discount-badge-v.badge-sm {
    width: 30px;
    height: 40px;
    top: -5px;
}

.discount-badge-v-side {
    position: absolute;
    bottom: -1px;
    height: 6px;
    width: 36px;
    background-color: white;
    clip-path: polygon(50% 0, 100% 100%, 0 100%);
    border-radius: 2px;
}

.discount-badge-v-side.badge-sm {
    height: 6px;
    right: -2.5px;
    width: 36px;
}

.discount-badge-v-tip {
    position: absolute;
    right: -15px;
    height: 15px;
    width: 15px;
    background-color: #242525;
    clip-path: polygon(0 0, 100% 100%, 0 100%);
}

.discount-badge-v-tip.badge-sm {
    height: 5px;
    width: 6px;
    right: -6px;
    top: 0px;
}

.order-summary {
    width: 100%;
}

.plus-minus-preview-container {
    margin: 3px 0;
    /*min-width: auto;*/
    min-width: 16px;
    min-height: 16px;
    background-color: #33cc66;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    display: none;
    /*visibility: hidden;*/
}

.item-preview:hover * > .plus-minus-preview-container {
    display: inherit;

    /*visibility: visible;*/
}

.item-preview * > .unit-label {
    white-space: nowrap;
    padding: 2px 7px;
    font-size: 13px;
    height: 20px;
    line-height: 20px
}

.item-preview:hover * > .unit-label.dropdown-disabled {
    background-color: #E9EDED;
    border-radius: 15px;
}

.item-preview:hover * > .dropdown-arrow {
    visibility: visible;
}

.item-preview:hover * > .unit-label.dropdown-enabled {
    background-color: #fff;
    border-radius: 15px;
    border: 1px solid #999999;
    margin-right: 0;
}

/* Upcoming Order*/
.circle-icon {
    width: 38px;
    height: 38px;
    border: 2px solid white;
    border-radius: 50%;
    padding: 2px;
}

.delivery-icon {
    width: 28px;
    height: 28px;
}

.icon-arrow-down {
    width: 12px;
    height: 12px;
    margin: 3px 0;
    color: #33cc66;
    object-fit: contain;
    transition: transform 0.5s;
}

/* Search box */
.search-box-container {
    position: relative;
    width: 300px;
    flex-shrink: 2;
}

.search-box {
    background-color: transparent;
    border: 1px solid #81aaa8;
    border-radius: 15px;
    height: 30px;
    width: 100%;
    padding-right: 35px;
    color: white;
}

.search-box::placeholder {
    color: #ccdcdcbd;
    font-size: 15px;
}

.search-icon {
    position: absolute;
    width: 15px;
    right: 15px;
    top: 25%;
}

#slider-right-arrow {
    display: none;
}

#slider-left-arrow {
    display: none;
}

.mobile-show {
    display: inherit;
}

.mobile-hide {
    display: none;
}

.item-card-info {
    cursor: pointer;
}

.item-desc {
    font-size: 16px;
}

/*  */


/* -----------Utils----------- */

.not-active {
    pointer-events: none;
    cursor: default;
}

/* Text & Fonts */

.font-heebo {
    font-family: "Heebo", sans-serif;
}

.font-size-22 {
    font-size: 22px;
}

.font-size-18 {
    font-size: 18px;
}

.font-size-16 {
    font-size: 16px;
}

.font-size-14 {
    font-size: 14px;
}

.font-size-13 {
    font-size: 13px;
}

.text-linethrough {
    text-decoration: line-through;
}

.text-light {
    font-weight: 300;
}

.text-regular {
    font-weight: 400;
}

.text-bold {
    font-weight: 500;
}

.text-bolder {
    font-weight: 700;
}

.text-center {
    text-align: center;
}

.text-xl {
    font-size: x-large;
}

.text-lg {
    font-size: large;
}

.text-lgr {
    font-size: larger;
}

.text-sm {
    font-size: small;
}

.text-xs {
    font-size: x-small;
}

.font-blue {
    color: #00535f
}

.font-white {
    color: white
}

.font-red {
    color: #ed5c5a;
}

.font-green {
    color: #33cc66;
}

.font-darkgray {
    color: #999999;
}

.font-gray {
    color: #e9eded;
}

.font-gray-900 {
    color: #333333;
}

.font-gray-600 {
    color: #666666;
}

.font-yellow {
    color: #ffcf00;
}

/* Position */
.absolute {
    position: absolute;
}

.relative {
    position: relative;
}

.rotate-180 {
    transform: rotate(180deg);
}

/* Cursor */
.c-p {
    cursor: pointer;
}

/* Display + FlexBox */
.display-flex {
    display: flex;
}

.display-inline {
    display: inline;
}

.display-block {
    display: block;
}

.flex-vertical {
    flex-direction: column;
}

.justify-around {
    justify-content: space-around;
}

.justify-between {
    justify-content: space-between;
}

.justify-center {
    justify-content: center;
}

.justify-evenly {
    justify-content: space-evenly;
}

.align-center {
    align-items: center;
}

.align-top {
    align-items: baseline;
}

/* Borders */
.rounded-10 {
    border-radius: 10px;
}

.rounded-25 {
    border-radius: 25px;
}

.rounded-50 {
    border-radius: 50px;
}

.show-border {
    border: 1px solid black;
}

.border-none {
    border: none !important;
}

.border-red {
    border: 1px solid #ed5c5a;
}

.border-green {
    border: 1px solid #33cc66;
}

.border-white {
    border: 1px solid #ffffff;
}

/* Shape */
.round {
    border-radius: 50%;
}

/* Margin */
.mx-auto {
    margin-right: auto;
    margin-left: auto;
}

.mx-5 {
    margin-right: 5px;
    margin-left: 5px;
}

.my-auto {
    margin-top: auto;
    margin-bottom: auto;
}

.my-5 {
    margin-top: 5px;
    margin-bottom: 5px;
}

.my-3 {
    margin-top: 3px;
    margin-bottom: 3px;
}

/* Margin Right */
.mr-auto {
    margin-right: auto;
}

.mr-35 {
    margin-right: 35px;
}

.mr-15 {
    margin-right: 15px;
}

.mr-10 {
    margin-right: 10px;
}

.mr-8 {
    margin-right: 8px;
}

.mr-5 {
    margin-right: 5px;
}

.mr-3 {
    margin-right: 3px;
}

.mr-2 {
    margin-right: 3px;
}

/* Margin Top */

.mt-auto {
    margin-top: auto;
}

.mt-30 {
    margin-top: 30px;
}

.mt-20 {
    margin-top: 20px;
}

.mt-15 {
    margin-top: 15px;
}

.mt-12 {
    margin-top: 12px;
}

.mt-10 {
    margin-top: 10px;
}


.mt-8 {
    margin-top: 8px;
}

.mt-5 {
    margin-top: 5px;
}

.mt-3 {
    margin-top: 3px;
}

.mt-2 {
    margin-top: 2px;
}

/* Margin Left */
.ml-auto {
    margin-left: auto;
}

.ml-30 {
    margin-left: 30px;
}

.ml-10 {
    margin-left: 10px;
}

.ml-5 {
    margin-left: 5px;
}

/* Margin Bottom */
.mb-auto {
    margin-bottom: auto;
}

.mb-80 {
    margin-bottom: 80px;
}

.mb-60 {
    margin-bottom: 60px;
}

.mb-40 {
    margin-bottom: 40px;
}

.mb-30 {
    margin-bottom: 30px;
}

.mb-20 {
    margin-bottom: 20px;
}

.mb-15 {
    margin-bottom: 10px;
}

.mb-10 {
    margin-bottom: 10px;
}

.mb-5 {
    margin-bottom: 5px;
}

.mb-4 {
    margin-bottom: 4px;
}

.nmb-10 {
    margin-bottom: -10px;
}

/* Padding */
.px-28 {
    padding-left: 28px;
    padding-right: 28px;
}

.px-20 {
    padding-left: 20px;
    padding-right: 20px;
}

.px-16 {
    padding-left: 16px;
    padding-right: 16px;
}

.px-5 {
    padding-left: 5px;
    padding-right: 5px;
}

.py-5 {
    padding-top: 5px;
    padding-bottom: 5px;
}

.pt-25 {
    padding-top: 25px;
}

.pt-20 {
    padding-top: 20px;
}

.pt-10 {
    padding-top: 10px;
}

.pb-10 {
    padding-bottom: 10px;
}

.pb-5 {
    padding-bottom: 5px;
}

.pr-8 {
    padding-right: 8px;
}

/* Sizing */

/* --Height */
.h-full {
    height: 100%;
}

.h-60 {
    height: 60px;
}

.h-45 {
    height: 45px;
}

.h-36 {
    height: 36px;
}

.h-32 {
    height: 32px;
}

.h-24 {
    height: 24px;
}

.h-22 {
    height: 22px;
}

.h-20 {
    height: 20px;
}

.h-16 {
    height: 16px;
}

.h-10 {
    height: 10px;
}

.h-8 {
    height: 8px;
}

.h-7 {
    height: 7px;
}

/* --Width */

.w-full {
    width: 100%;
}


.w-max-300 {
    max-width: 300px;
}

.w-1-4 {
    width: 25%;
}

.w-1-3 {
    width: 33%;
}

.w-2-4 {
    width: 50%;
}

.w-2-3 {
    width: 66.66666666%;
}

.w-1-8 {
    width: 10% !important;
}

.w-250 {
    width: 250px;
}

.w-85 {
    width: 85px;
}

.w-60 {
    width: 60px;
}

.w-45 {
    width: 45px;
}

.w-36 {
    width: 36px;
}

.w-32 {
    width: 32px;
}

.w-24 {
    width: 24px;
}

.w-22 {
    width: 22px;
}

.w-20 {
    width: 20px;
}

.w-16 {
    width: 16px;
}

.w-14 {
    width: 14px;
}

.w-10 {
    width: 10px;
}

.w-8 {
    width: 8px;
}

.w-7 {
    width: 7px;
}

/* ######################### Desktop Design ############################ */

@media screen and (min-width: 720px) {

    .hover-tooltip {
        display: none !important;
        position: absolute;
        background-color: #005350;
        color: white;
        max-width: 18rem;
        min-height: 2rem;
        padding: .3rem .5rem;
        border-radius: 3px;
        font-weight: 300;
        top: -5px;
        right: 65px;
    }

    .discount-badge-h:hover ~ .hover-tooltip {
        display: block !important;
    }

    .tooltip-right-arrow {
        position: absolute;
        right: -4px;
        top: 40%;
        height: 10px;
        width: 10px;
        background-color: #005350;
        clip-path: polygon(0 0, 100% 100%, 0 100%);
        transform: rotate(225deg)
    }

    .navbar-minimized {
        background-color: #005350;
        height: 80px;
        color: white;
        display: block;
    }

    .cart-item {
        height: 99px;
        padding-left: 80px;
        padding-bottom: 15px;
    }

    .cart-item:hover * > .plus-minus-preview-container {
        display: inherit;
        /*visibility: visible;*/
    }

    .item-quantity-container {
        position: relative
    }

    .cart-item * > .unit-label {
        white-space: nowrap;
        padding: 2px 7px;
        font-size: 13px;
        height: 20px;
        line-height: 20px;
    }

    .cart-item:hover * > .unit-label.dropdown-disabled {
        background-color: #E9EDED;
        border-radius: 15px;
    }

    .cart-item:hover * > .dropdown-arrow {
        visibility: visible;
    }

    .cart-item:hover * > .unit-label.dropdown-enabled {
        background-color: #fff;
        border-radius: 15px;
        border: 1px solid #999999;
        margin-right: 0;
    }


    .select-unit {
        height: 28px;
        width: 14vw;
        /*width: 100%;*/
        text-overflow: ellipsis;
        padding: 0 1.3em;
        font-size: 14px;
    }

    .select-arrow {
        position: absolute;
        top: 16px;
        right: 12vw;
    }

    .knife-icon {
        margin-top: 1rem;
        margin-right: 10px;
    }

    .select-unit > span {
        font-size: medium !important;
    }

    .item-desc ~ div {
        font-size: medium !important;
    }

    .thumbnail-container {
        padding-bottom: 1rem;
    }

    .thumbnail-container button {
        display: block;
    }

    .item-thumbnail {
        max-width: 6rem;
        margin-bottom: 4px;
    }

    .discount-badge-text {
        font-size: .725rem;
        margin: 0 !important;
    }

    .discount-badge-icon {
        margin-right: -10px !important;
        margin-left: 3px !important;
        height: 13px !important;
        width: 13px !important;
    }

    .discount-badge-h {
        width: 54px;
        height: 18px;
        font-weight: 300;
        right: -6px;
        top: 8px;
    }

    .discount-badge-h-side {
        position: absolute;
        left: -1px;
        height: 22px;
        width: 8px;
    }

    .discount-badge-h-tip {
        top: 18px;
        width: 5px;
        height: 5px;
    }

    .remove-item-btn {
        margin-right: auto;
        top: 33%;
        left: 3%;
        width: 22px;
        height: 22px;
    }

    .remove-item-btn.preview-btn {
        position: absolute;
        left: 50px;
        top: -10px;
        width: 26px;
        height: 26px;
        visibility: hidden;
    }

    .item-preview > .thumbnail-container {
        position: relative;
        padding-bottom: 0;
    }

    .item-preview > .thumbnail-container > .discount-badge-h {
        top: -18px;
    }

    .item-preview:hover > .thumbnail-container > .cart-preview-btn > .remove-item-btn.preview-btn {
        visibility: visible;
    }

    .item-price-wrapper {
        display: inline !important;
        text-align: center;
        max-width: 18.5% !important;
    }

    .back-btn {
        display: block;
    }

    .clear-cart {
        display: none;
    }

    .discount-ribbon {
        width: 104%;
        right: -2%;
    }

    .back-svg {
        display: none;
    }

    #slider-right-arrow {
        display: block;
    }

    #slider-left-arrow {
        display: block;
    }

    #cart-wrapper {
        display: flex;
        width: 100%;
    }

    .mobile-show {
        display: none;
    }

    .mobile-hide {
        display: inherit;
    }

    #featured-items-wrapper {
        min-height: 350px;
        background-color: #e9eded;
        padding-top: 2em;
        border-radius: 10px;
    }

    .featured-items-container {
        overflow-x: visible;
        height: auto;
        justify-content: center;
    }

    .featured-item {
        min-width: auto;
        height: 320px;
        width: 220px;
        text-align: center;
    }

    .store-item {
        min-width: auto;
        height: 300px;
        width: 208px;
        text-align: center;
    }

    .store-item-overlay {
        position: absolute;
        height: 300px;
        width: 208px;
        opacity: 0;
        padding-top: 50px;
        text-align: center;
        text-wrap: normal;
        border-radius: 10px;
        transition: opacity 0.25s;
    }

    .store-item-overlay:hover ~ .product-price-wrapper {
        visibility: hidden;
    }

    .store-item-overlay:hover ~ .product-info-wrapper span {
        visibility: hidden;
    }

    .store-item-overlay:hover ~ .product-info-wrapper > .product-rating-wrapper {
        visibility: hidden;
    }

    .product-rating-wrapper {
        align-self: center;
        top: 80px;
    }

    .store-item:hover .store-item-overlay {
        opacity: 100;
        background-color: rgba(255, 255, 255, 0.8);
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
        transition: opacity 0.25s, background-color 0.25s, box-shadow 0.25s;
    }

    .add-to-cart-btn {
        margin-top: 30px;
        background-color: #33cc66;
        min-width: 126px;
        height: 30px;
        border-radius: 25px;
        color: #fff;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 15px;
    }

    .item-card-info {
        display: none;
    }

    .label-wrapper {
        width: 12.5%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-right: auto;
        margin-left: auto;
    }


    .desktop-footer {
        margin-top: 73px;
        width: 100%;
        height: 62px;
        background-color: #333333;
    }

    .mobile-footer {
        display: none !important;
    }

    img ~ .text-xl {
        font-size: large;
    }

    .order-summary {
        position: sticky;
        top: 50px;
        width: 332px;
        height: 428px;
        background-color: #ffffff;
        margin-right: 11px;
        padding: 0 15px;
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
    }

    .order-comment {
        border: 1px solid #C6CBCB;
        height: 120px;
    }

    .order-comment:focus {
        border: 1px solid #33cc66;
        height: 120px;
    }

    .cart-widget {
        margin-left: 11px;
    }

    .cart-widget-headers {
        width: 100%;
        height: 46px;
        background-color: #f0f3f5;
        border-top-right-radius: 15px;
        border-top-left-radius: 15px;
        display: flex;
        align-items: center;
        text-align: right;
    }

    .cart-item > .h-full {
        margin-top: 1rem;
        max-width: 230px;
        margin-left: 20px;
    }

    .dropdown-arrow {
        visibility: hidden;
    }

    .item-decrement {
        visibility: hidden;
    }

    .item-increment {
        visibility: hidden;
    }

    /*.item-quantity-container:hover {*/
    /*    position: relative;*/
    /*    right: 2% !important;*/
    /*    margin-left: 3%;*/
    /*}*/
    /*.label-wrapper:hover > svg {*/
    /*    position: relative;*/
    /*    visibility: visible !important;*/
    /*    margin-bottom: 15px !important;*/
    /*    margin-left: 5px;*/
    /*    margin-right: 5px;*/
    /*    width: 15px;*/
    /*}*/
    /*.label-wrapper:hover * > svg.dropdown-arrow {*/
    /*    position: absolute;*/
    /*    visibility: visible;*/
    /*    left: 10px;*/
    /*    bottom: 12.5%;*/
    /*    !*margin-right: 0;*!*/
    /*}*/
    /*.label-wrapper:hover * > div.font-darkgray {*/
    /*    position: absolute;*/
    /*    border: 1px solid #59d683;*/
    /*    border-radius: 10px;*/
    /*    right: -.1rem;*/
    /*    bottom: .2rem;*/
    /*    padding-right: 4px;*/
    /*    width: 3.7rem;*/
    /*}*/
    /*.label-wrapper:hover > .display-flex.flex-vertical {*/
    /*    margin-top: -14px;*/
    /*}*/
    .credits {
        margin-left: -15% !important;
    }


    /* Desktop Utils */
    .flex-horizontal {
        flex-direction: row;
    }

    .text-muted {
        font-weight: 400;
        font-size: medium;
        font-family: "Heebo", sans-serif !important;
    }

    .border-bottom-gray-2px {
        border-bottom: 2px solid #f8fafb;
    }

    .border-bottom-gray-1px {
        border-bottom: 1px solid #f8fafb;
    }

    .border-gray-1px {
        border: 1px solid #f8fafb;
    }
}

/* ANGULAR ANIMATIONS

.cart-item.ng-enter {
    transition: 0.5s linear all;
    opacity: 0;
}

.cart-item.ng-enter.ng-enter-active {
    opacity: 1;
}


.cart-item.ng-leave {
    transition: 0.5s linear all;
    opacity: 1;
}

.cart-item.ng-leave.ng-leave-active {
    opacity: 0;
} */