<div class="cart-bg">
    <div class="container mx-auto px-28 pt-20">
        <div class="back-btn c-p mb-5">
            <div class="display-flex align-center font-blue">
                <svg class="h-14 w-14" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7"/>
                </svg>
                <span class="text-weight-500">
                <a href="/store">חזרה לחנות</a>
        </span>
            </div>
        </div>
        <svg class="h-36 w-36 back-svg font-white c-p" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"/>
        </svg>
        <div class="display-flex justify-between align-center mb-10">
            <div class="display-flex font-white align-center">
                <span class="items-count">{{globalState.cartItems.length}}</span>
                <img ng-src="assets/icons/icon-basket-white.svg"/>
                <div class="text-title font-blue mr-5 mt-15 mb-5 ">
                    סל הקניות שלי
                </div>
            </div>
            <div ng-click="ctrl.state.cartActions.onClearCart()" class="clear-cart">
                <div class="display-flex c-p">
                    <svg class="h-20 w-20 font-white" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                              d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16"/>
                    </svg>
                    <span class="mr-2 font-bold font-blue c-p">
            מחיקת סל
          </span>
                </div>
            </div>
        </div>
        <div id="cart-wrapper">
            <div class="cart-widget rounded-10 display-flex flex-vertical ">
                <div class="cart-widget-headers font-blue px-20 mobile-hide">
                    <div class="w-2-4">
                        <div class="display-flex align-center">
                            <span>מוצר</span>
                        </div>
                    </div>
                    <div class="display-flex justify-between w-2-4">
                        <span>מחיר ליחידה</span>
                        <span>איכות</span>
                        <div class="display-flex align-center">
                            <span>סה"כ</span>
                        </div>
                        <span>הסר</span>
                    </div>
                </div>
                <ul id="cart-items-container">
                    <cart-item ng-repeat="product in globalState.cartItems"
                               ng-class="{'border-none':$last}"
                               product="product"
                               on-increase-product-quantity="ctrl.state.cartActions.onIncreaseProductQuantity(product)"
                               on-decrease-product-quantity="ctrl.state.cartActions.onDecreaseProductQuantity(product)"
                               cart-form-submitted="form.$submitted"
                    ></cart-item>
                    <div ng-if="!globalState.cartItems.length"
                         class="font-gray-900  display-flex justify-center mt-20 mb-20 py-5">
                        <span class="text-lg text-weight-500 mt-10 ml-10">העגלה שלכם ריקה</span>
                        <svg class="h-36 w-36" viewBox="0 0 256 256" xml:space="preserve">
              <g transform="translate(128 128) scale(0.72 0.72)" style="">
                <g style="stroke: none; stroke-width: 0; stroke-dasharray: none; stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; fill: none; fill-rule: nonzero; opacity: 1;"
                   transform="translate(-175.05 -175.05) scale(3.89 3.89)">
                  <path d="M 72.975 58.994 H 31.855 c -1.539 0 -2.897 -1.005 -3.347 -2.477 L 15.199 13.006 H 3.5 c -1.933 0 -3.5 -1.567 -3.5 -3.5 s 1.567 -3.5 3.5 -3.5 h 14.289 c 1.539 0 2.897 1.005 3.347 2.476 l 13.309 43.512 h 36.204 l 10.585 -25.191 h -6.021 c -1.933 0 -3.5 -1.567 -3.5 -3.5 s 1.567 -3.5 3.5 -3.5 H 86.5 c 1.172 0 2.267 0.587 2.915 1.563 s 0.766 2.212 0.312 3.293 L 76.201 56.85 C 75.655 58.149 74.384 58.994 72.975 58.994 z"
                        style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; fill: currentColor; fill-rule: nonzero; opacity: 1;"
                        transform=" matrix(1 0 0 1 0 0) " stroke-linecap="round"/>
                    <circle cx="28.88" cy="74.33" r="6.16"
                            style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; fill: #33cc66; fill-rule: nonzero; opacity: 1;"
                            transform="  matrix(1 0 0 1 0 0) "/>
                    <circle cx="74.59" cy="74.33" r="6.16"
                            style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; fill: #33cc66; fill-rule: nonzero; opacity: 1;"
                            transform="  matrix(1 0 0 1 0 0) "/>
                    <path d="M 62.278 19.546 H 52.237 V 9.506 c 0 -1.933 -1.567 -3.5 -3.5 -3.5 s -3.5 1.567 -3.5 3.5 v 10.04 h -10.04 c -1.933 0 -3.5 1.567 -3.5 3.5 s 1.567 3.5 3.5 3.5 h 10.04 v 10.04 c 0 1.933 1.567 3.5 3.5 3.5 s 3.5 -1.567 3.5 -3.5 v -10.04 h 10.041 c 1.933 0 3.5 -1.567 3.5 -3.5 S 64.211 19.546 62.278 19.546 z"
                          style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; fill: #33cc66; fill-rule: nonzero; opacity: 1;"
                          transform=" matrix(1 0 0 1 0 0) " stroke-linecap="round"/>
                </g>
              </g>
            </svg>
                    </div>
                </ul>
            </div>
            <div class="display-flex flex-vertical">
                <span class="text-title font-gray-600 text-xl mb-20 mobile-show mt-20"> הערות למכין ההזמנה</span>
                <form name="form" class="order-summary rounded-10">
                    <span class="font-heebo text-lgr text-weight-700 font-blue mobile-hide py-5 my-5 border-bottom-gray-2px">סיכום הזמנה</span>
                    <div class="mt-15 mb-10">
                        <span class="font-gray-600 mobile-hide">הערות למכין ההזמנה</span>
                    </div>
                    <label for="textarea"></label>
                    <textarea type="text" id="textarea" name="textarea"
                              ng-model="ctrl.state.formControl.userComment"
                              ng-required="true"
                              ng-minlength="3"
                              class="order-comment rounded-10 font-size-16"></textarea>
                    <div ng-if="form.textarea.$touched && form.textarea.$invalid" class="text-center mt-2 font-red">נא
                        מלאו הערות
                        למכין
                        ההזמנה
                    </div>
                    <div class="mobile-hide mt-30 border-bottom-gray-1px mb-20"></div>
                    <div class="display-flex justify-between">
                        <span class="mobile-hide font-gray-900">סה"כ סל קניות </span>
                        <span class="mobile-hide item-price font-size-16">{{ctrl.state.currencySign}}{{globalState.cartTotal}}</span>
                    </div>
                    <div class="display-flex flex-vertical align-center mt-20">
                        <button type="submit"
                                class="mobile-hide h-45 btn-green rounded-10 border-light-gray"
                                ng-click="ctrl.disableCartSubmit()"
                                ng-disabled="!globalState.cartItems.length || form.$invalid || ctrl.disableCartSubmit()">
                            <span class="mobile-hide font-white font-size-18 text-weight-500 mx-auto my-auto">
                                <a ng-href="{{!globalState.cartItems.length || form.$invalid || ctrl.disableCartSubmit() ? '#' : '/checkout' }}">
                                המשך לתשלום

                                </a>
                            </span>
                        </button>
                        <span class="mobile-hide font-darkgray mt-10 font-size-14">
                        שערוך. עלות סופית לפני שקילה.
                        </span>
                    </div>
                </form>
            </div>
        </div>
        <div id="featured-items-wrapper" class="display-flex flex-vertical mt-30">
        </div>
    </div>
    <div class="mobile-footer px-28 display-flex flex-vertical align-center justify-center">
        <button type="button" id="submit-cart-btn" class="btn-green rounded-50 w-full mb-15">
            <span class="font-white text-xl checkout-text">המשך לתשלום</span>
            <span class="font-white text-xl total-sum">{{ctrl.state.currencySign}}{{globalState.cartTotal}}</span>
        </button>
        <span class="font-darkgray text-lgr ">
      שערוך. עלות סופית לפני שקילה.
    </span>
    </div>
    <footer-menu></footer-menu>
</div>
