<div ng-cloak class="store-bg">
    <nav id="categories" class="categories-wrapper" ng-cloack>
        <ul class="container mx-auto h-full display-flex align-center justify-evenly font-gray-900">
            <li class="category"
                ng-repeat="category in globalState.categoriesData | limitTo: 10"
                ng-if="category.children.length"
                ng-click="ctrl.handleCategoryClick(category)"
                ng-class="{'selected': globalState.selectedCategory.id === category.id}"
            >
                <button type="button">{{category.name}}&nbsp;</button>
            </li>
            <li class="display-flex align-center relative" ng-if="globalState.categoriesData.length > 10">
                <ul class="category show-more-categories" ng-mouseover="ctrl.state.isShowMoreCategoriesOpened=true"
                    ng-mouseleave="ctrl.state.isShowMoreCategoriesOpened = false"> עוד
                    <ul ng-if="ctrl.state.isShowMoreCategoriesOpened"
                         class="categories-show-more display-flex flex-vertical absolute pt-10 rounded-10">
                        <li class="category show-more"
                            ng-repeat="category in globalState.categoriesData | limitTo: globalState.categoriesData.length : 10 "
                            ng-mouseenter="ctrl.state.isShowMoreCategoriesHovered = true"
                            ng-mouseleave="ctrl.state.isShowMoreCategoriesHovered = false"
                            ng-click="ctrl.handleCategoryClick(category)"
                        >
                            <button type="button">{{category.name}}</button>
                        </li>
                    </ul>
                </ul>
            </li>
        </ul>
    </nav>
    <div class="container mx-auto pt-20">
        <div class="display-flex relative">
            <div class="store-widget">
                <div class="display-flex justify-between align-center">
                    <h1 class="font-heebo font-blue">{{globalState.selectedCategory.name}}</h1>
                    <div class="sort-items c-p display-flex justify-between relative"
                         ng-click="ctrl.state.isSortDropdownToggled = !ctrl.state.isSortDropdownToggled"
                         ng-class="{'dropdown-active': ctrl.state.isSortDropdownToggled, 'selected-sort': ctrl.state.selectedSortBy }">
                                <span class="font-blue">
                                    {{ctrl.state.selectedSortBy || 'מיין לפי'}}
                                </span>
                        <svg class="icon-arrow-down"
                             viewBox="0 0 11 11" xmlns="http://www.w3.org/2000/svg">
                            <path d="M5.5 6.746 1.341 2.587a.786.786 0 0 0-1.11 1.111l4.713 4.715a.786.786 0 0 0 1.112 0l4.714-4.715a.786.786 0 0 0-1.111-1.11L5.5 6.745z"
                                  fill="currentColor" fill-rule="evenodd"/>
                        </svg>

                        <ul ng-if="ctrl.state.isSortDropdownToggled" class="dropdown-menu absolute mt-30">
                            <li class="dropdown-item" ng-click="ctrl.sortProductsBy('שם מוצר')">שם מוצר</li>
                            <li class="dropdown-item" ng-click="ctrl.sortProductsBy('מחיר מהנמוך לגבוה')">מחיר מהנמוך
                                לגבוה
                            </li>
                            <li class="dropdown-item" ng-click="ctrl.sortProductsBy('מחיר מהגבוהה לנמוך')">מחיר מהגבוהה
                                לנמוך
                            </li>
                            <li class="dropdown-item" ng-click="ctrl.sortProductsBy('מוצרים במבצע')">מוצרים במבצע</li>
                        </ul>
                    </div>

                </div>
                <div>
                    <div ng-if="!globalState.selectedCategory" id="loading-bar-spinner" class="spinner">
                        <div class="spinner-icon"></div>
                    </div>
                    <div infinite-scroll="ctrl.loadMore()" infinite-scroll-distance="0"
                         class="store-items-wrapper mt-30">
                        <article ng-repeat="product in globalState.selectedCategory.children  | filter: state.searchQuery | limitTo: ctrl.state.paginationLimit">
                            <store-item product="product"
                                        on-increase-product-quantity="ctrl.state.cartActions.onIncreaseProductQuantity(product)"
                                        on-decrease-product-quantity="ctrl.state.cartActions.onDecreaseProductQuantity(product)"
                            ></store-item>
                        </article>
                    </div>
                </div>
            </div>

            <div class="cart-preview-wrapper">
                <div class="cart-preview ">
                    <div class="cart-preview-header display-flex align-center px-16">
                        <img class="w-22 h-22 ml-10" ng-src="assets/icons/button-arrow-up.svg"/>
                        <img class="icon-basket" ng-src="assets/icons/icon-basket-green.svg"><span
                            class="text-sm font-white mt-8 cart-preview-items-count"> {{globalState.cartItems.length}}</span></img>
                        <div class="display-flex flex-vertical font-white mr-8 ml-auto">
                            <span class="text-weight-300 font-size-14">סל הקניות שלי</span>
                            <span class="font-size-18">{{globalState.cartTotal}}</span>
                        </div>
                        <button type="button" class="proceed-to-checkout-btn font-white font-size-16"
                                ng-class="{'btn-disabled not-active': !globalState.cartItems.length}">
                        <span>
                            <a href="/cart">
                                המשך לתשלום
                            </a>
                        </span>
                        </button>
                    </div>
                    <div class="cart-preview-subheader px-16">
                        <div class="c-p display-flex align-center h-full w-85 mr-auto"
                             ng-click="ctrl.state.cartActions.onClearCart()">
                            <img ng-src="assets/icons/icon-trash.svg"/>
                            <span class="mr-5 font-size-14">
                            מחיקת סל
                        </span>
                        </div>
                    </div>
                    <div class="cart-items-preview-wrapper">
                        <div class="display-flex flex-vertical align-center pt-20"
                             ng-if="!globalState.cartItems.length">
                            <img ng-src="assets/img/empty-basket.png"/>
                            <span class="mt-10 font-size-22 font-blue text-weight-700 font-heebo">סל הקניות שלכם ריק</span>
                            <span class="font-blue font-size-16">התחילו להוסיף מוצרים</span>
                        </div>
                        <item-preview ng-repeat="product in globalState.cartItems track by product.id"
                                      product="product"
                                      on-increase-product-quantity="ctrl.state.cartActions.onIncreaseProductQuantity(product)"
                                      on-decrease-product-quantity="ctrl.state.cartActions.onDecreaseProductQuantity(product)"
                                      remove-product="ctrl.state.cartActions.onRemoveProduct(product)"
                        ></item-preview>
                    </div>
                    <div class="cart-preview-footer px-28 display-flex flex-vertical align-center justify-center">
                        <button type="button" class="btn-green w-full"
                                ng-class="{'btn-disabled not-active': !globalState.cartItems.length}">
                            <a class="w-full h-full" href="/cart">
                                <div class="display-flex align-center justify-between h-full">
                                    <span class="font-heebo text-weight-500 font-white checkout-text">המשך לתשלום</span>
                                    <span class="font-heebo text-weight-500 font-white total-sum">{{ctrl.state.currencySign}}{{globalState.cartTotal}}</span>
                                </div>
                            </a>
                        </button>
                        <span class="font-darkgray font-size-14 mt-5">שערוך. עלות סופית לפני שקילה.</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer-menu></footer-menu>
</div>
