<div ng-cloak>

    <div ng-if="ctrl.getCurrentPath().includes('store')" class="navbar-maximized">
        <div class="container mx-auto font-white relative">
            <div class=" pt-20 display-flex align-center  justify-around  px-5 ">
                <div class="search-box-container mr-auto ">
                    <label>
                        <input ng-model="ctrl.state.searchQuery" class="search-box border-white"
                               ng-model-options="{debounce: 800}"
                               ng-minlength="3" placeholder="חיפוש מוצר"/>
                    </label>
                    <img class="search-icon" ng-src="assets/icons/icon-search.svg"/>
                </div>
                <div class="display-flex align-center mr-auto justify-between w-250">
                    <div class="display-flex align-center justify-evenly w-full c-p ">
                        <img ng-src="assets/icons/icon-navigation.svg"/>
                        <span class="mr-5">לאן מגיעים?</span>
                    </div>
                    <div class="display-flex align-center justify-evenly w-full mr-35 c-p">
                        <img ng-src="assets/icons/icon-user.svg"/>
                        <span class="mr-5">התחברות</span>
                    </div>
                </div>
            </div>
            <div class="display-flex align-center mt-30">
                <img ng-src="assets/img/logo.png"/>
                <div>
                    <div class="text-title mb-5">{{ctrl.state.data.storeData.store.name}}</div>
                    <div class="display-flex align-center my-3 c-p">
                        <img class="ml-5" ng-src="assets/icons/icon-info-2.svg"/>
                        אודות | אזורי חלוקה
                    </div>
                    <div class="display-flex align-center my-3 c-p">
                        <img class="ml-5" ng-src="assets/icons/icon-location-2.svg"/>
                        {{ctrl.state.data.storeData.store.businessFullAddressWithCity}}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="navbar-minimized">
        <div class="container mx-auto h-full display-flex align-center justify-between px-5 ">
            <div class="display-flex align-center">
                <a href="#">
                    <img class="logo-img round w-60 h-60" ng-src="assets/img/logo.png" alt="logo"/>
                </a>
                <div class="text-title mb-5 mr-10">{{ctrl.state.data.storeData.store.name}}</div>
            </div>
            <div ng-if="!ctrl.getCurrentPath().includes('checkout')" class="search-box-container ml-10">
                <label>
                    <input ng-model="ctrl.state.searchQuery" class="search-box"
                           ng-model-options="{debounce: 800}"
                           ng-minlength="3" placeholder="חיפוש מוצר"/>
                </label>
                <img class="search-icon" ng-src="assets/icons/icon-search.svg"/>
            </div>
            <div ng-if="!ctrl.getCurrentPath().includes('checkout')" class="display-flex align-center w-250">
                <img class="h-32 w-32" ng-src="assets/icons/icon-delivery-rounded.svg"/>
                <div class="mr-10">
                    <span class="text-weight-400">משה דיין 20, תל אביב</span>
                    <br/>
                    <span class="text-weight-300">מחר, 12:00-16:00</span>
                </div>
            </div>
            <div ng-if="!ctrl.getCurrentPath().includes('checkout')" class="display-flex c-p align-center">
                <img class="h-32 w-32" ng-src="assets/icons/icon-user.svg"/>
                <div class="display-flex align-center mr-5 ml-5">
                    <span class="text-weight-400">היי אינסה!</span>
                    <svg class="mr-10 h-16 w-16" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                              d="M19 9l-7 7-7-7"/>
                    </svg>
                </div>
            </div>
            <div ng-if="ctrl.getCurrentPath().includes('checkout')" class="c-p">
                <a class="display-flex align-center" href="/cart">
                    <span class="ml-5">חזרה לסל הקניות</span>
                    <img ng-src="assets/icons/icon-arrow-left.svg"/>
                </a>
            </div>
        </div>
    </div>
</div>
</div>
